
.table {
    border-collapse: collapse;
    width: 80%;
    margin-bottom: 40px;
}

.table th, .table td {
    border: 1px solid #dee2e6;
    text-align: center;
    padding: 20px;
    
}

.table th {
    background-color: #f8f9fa;
}
